<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <!--back end-->
        <div>
            <form action="." method="post">
                            
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <!--back end-->
        <div class="auth-form" id="login-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class="auth-form__switch_btn" id="btn_register_form">Đăng ký</span>
                        </div>


                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Địa chỉ email của bạn">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                            </div>
                        </div>

                        <div class="auth-form__noti">
                           <div class="auth-form__help">
                               <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                               <span class="auth-form__help-seperate"></span>
                               <a href="" class="auth-form__help-link ">Cần trợ giúp?</a>
                           </div>
                        </div>

                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back ">TRỞ LẠI</button>
                            <a class="btn btn--primary " href="../Homepage/UserHomepage.html">ĐĂNG NHẬP</a>
                        </div>
                        </div>
                    
                    <div class="auth-form__social">
                        <a href="" class="auth-form__social--fb btn btn--size-s btn--social-icon">
                            <i class=" auth-form__social-icon fab fa-facebook-square"></i>
                            <span class="auth-form__social--title">
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href="" class="auth-form__social--gg btn btn--size-s btn--social-icon">
                            <i class=" auth-form__social-icon fab fa-google"></i>
                            <span class="auth-form__social--title">
                                Kết nối với Google
                            </span>
                        </a>
                    </div>

            </div>
        </div>
        <script src="{% static '/assets/css/popup.js'%}"></script>
        <script src="/assets/css/popup.js"></script>
    </body>
</html>